<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.data.text.[page.lang].title }}</h1>
        <h3>{{ site.data.text.[page.lang].author }}</h3>
        <p>2014</p>
        {% if site.data.text.[page.lang].desc_book %}<p>{{ site.data.text.[page.lang].desc_book }}</p>{% endif %}
        {% if site.data.text.[page.lang].desc_author %}<p>{{ site.data.text.[page.lang].desc_author }}</p>{% endif %}
        <p></p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        {% include lang.html %}
        <p>Text and images © 2014 Elo-Mall Toomet</p>
      </footer>
    </div>
    <script src="{{ site.baseurl }}/javascripts/scale.fix.js"></script>
    
  </body>
</html>